@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Roboto:wght@300;500&display=swap');
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  margin: 0;
  background-color: var(--main); 
}


*{
  margin: 0;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input{
  font-size: 20px;
}

h1{
  color: var(--contrast-main);
  font-family: 'Roboto';
  font-weight: 500;
}

p{
  color: var(--contrast-main);
  font-family: 'Roboto';
  font-weight: 300;
}

:root {
  --primary-color: #a100f2;
  --secondary-color: #db00b6;
  --alter-main: #f5f5f5;
  --main: #f9f9f9;
  --contrast-main: #101010;
  --box-shadow:8px 8px 30px -17px rgba(66, 68, 90, 1);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #a100f2;
    --secondary-color: #db00b6;
    --main: #101010;
    --alter-main: #212121;
    --contrast-main: #f9f9f9;
    --box-shadow:box-shadow: 0px 0px 6px rgba(28, 28, 28, 0.05),
      0px 0px 25px rgba(28, 28, 28, 0.10),
      0px 0px 56px rgba(28, 28, 28, 0.16),
      0px 0px 100px rgba(28, 28, 28, 0.21);
    
  }
}