* {
    margin: 0;
    padding: 0;
  }
  
.NotesShowcase {
  width: 96%;
  height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2%;
}

.NotesHolder {
  height: fit-content;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px; /* Adjust the gap between cards */
  align-items: start;
  padding: 16px;
  overflow-y: scroll;
}

.NotePreviewCard {
  height: fit-content;
  -webkit-box-shadow: 11px 10px 8px -3px rgba(66, 68, 90, 0.25);
  -moz-box-shadow: 11px 10px 8px -3px rgba(66, 68, 90, 0.25);
  box-shadow: 11px 10px 8px -3px rgba(66, 68, 90, 0.25);
  border-radius: 10px;
  border: 0.5px solid;
  padding: 16px;
  text-decoration: none;
}

.SearchHolder {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 40px;
  justify-content: center;
}

.SearchInput {
  width: calc(100% - 40px);
  height: 40px;
}

a{
  all: unset;
  cursor: pointer;
}

.SearchButton {
  width: 40px;
  height: 40px;
}

.CardTitle{
  text-decoration: none;
  color: #282C35;
}